name: typednotes-services
services:
  db:
    image: postgres
    container_name: typednotes_db
    restart: always
    ports:
      - 5432:5432
    shm_size: 128mb
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - db-data:/var/lib/postgresql/data

  adminer:
    image: adminer
    container_name: typednotes_adminer
    restart: always
    ports:
      - 8081:8080
    environment:
      ADMINER_DESIGN: pepa-linha-dark

volumes:
  db-data: