name: typednotes-services
services:
  db:
    image: postgres
    container_name: typednotes_db
    restart: always
    ports:
      - ${DATABASE_PORT}:5432
    shm_size: 128mb
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_DB}
    volumes:
      - db-data:/var/lib/postgresql/data

  adminer:
    image: adminer
    container_name: typednotes_adminer
    restart: always
    ports:
      - 8081:8080

volumes:
  db-data: