[package]
name = "server"
version = "0.1.0"
edition = "2021"

[dependencies]
dioxus = { workspace = true, features = ["fullstack"] }
sqlx = { version = "0.8", features = [
    "macros",
    "migrate",
    "postgres",
    "tls-rustls",
    "runtime-tokio",
    "bigdecimal",
    "rust_decimal",
    "json",
    "time",
    "chrono",
    "ipnetwork",
    "mac_address",
    "uuid",
] }

serde = "1.0.159"
execute = "0.2.12"
anyhow = "1.0.71"